<div class="container">
  <div class="row">
    <div class="col">
      <h5>編集</h5>
      <%= render 'form', portfolio: @portfolio %>
      <%= link_to '削除', portfolio_path(@portfolio), method: :delete %>
    </div>
  </div>
</div>