<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-3">投稿編集</h4>
      <%= render 'form', portfolio: @portfolio %>
    </div>
  </div>
</div>

<!--render後にURLを指定-->
<%= render 'layouts/specify_url', url: "/portfolios/#{@portfolio.id}/edit" %>