<div class="container">
  <div class="row">
    <div class="col">
      <h5>編集</h5>
      <%= render 'form', portfolio: @portfolio %>
      <%= link_to '削除', portfolio_path(@portfolio), method: :delete, data: { confirm: '削除しますか？' } %>
    </div>
  </div>
</div>

<!--render後にURLを指定-->
<%= render 'layouts/specify_url', url: "/portfolios/#{@portfolio.id}/edit" %>