<div class="container">
  <div class="row">
    <div class="col">
      <h5>投稿フォーム</h5>
      <%= render 'form', portfolio: @portfolio %>
    </div>
  </div>
</div>

<!--render後のURLを指定-->
<%= render 'layouts/specify_url', url: "/portfolios/new" %>