<div class="container">
  <div class="row">
    <div class="col">
      <h5>投稿一覧</h5>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税込価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @portfolios.each do |portfolio| %>
            <tr>
              <td><%= portfolio.id %></td>
              <td><%= link_to portfolio.name, admin_portfolio_path(portfolio) %></td>
              <td><%= portfolio.name %></td>
              <td><%= portfolio.name %></td>
              <td>
                <% if portfolio.is_public %>
                <p class="text-success">公開中</p>
                <% else %>
                  <p class="text-secondary">非公開</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>