<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-3 edit-form">レビュー編集</h4>
      <div class="review-errors"></div>
      <%= render 'form', portfolio: @review.portfolio, review: @review %>
    </div>
  </div>
</div>

<!--render後のURLを指定-->
<%= render 'layouts/specify_url', url: "/portfolios/#{@review.portfolio.id}/reviews/#{@review.id}/edit" %>